<?xml version="1.0" encoding="UTF-8"?>
<settings>
	<servers>
		<server>
			<id>anypoint-exchange-v3</id>
			<username>~~~Client~~~</username>
			<password>${mule.appClientId}~?~${mule.appClientSecret}</password>
		</server>
	</servers>
	<profiles>
		<profile>
			<id>anypoint-exchange-v3</id>
			<activation>
				<activeByDefault>true</activeByDefault>
			</activation>
			<properties>
				<mulesoft.exchange.groupid>b8b790fb-4b4b-4456-8466-366968787971
				</mulesoft.exchange.groupid>
			</properties>
			<repositories>
				<repository>
					<id>anypoint-exchange-v3</id>
					<name>anypoint-exchange-v3</name>
					<url>https://maven.anypoint.mulesoft.com/api/v3/organizations/${mulesoft.exchange.groupid}/maven
					</url>
					<layout>default</layout>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
			</repositories>
		</profile>
	</profiles>
</settings>